@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap");

$orange-color: #f3613c;
$blue-color: #242e53;
$black_color: #1e1e26;
$desc-color: #919191;
$max-wid: 1220px;

* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
}

%org_change_bgc{
    &:hover{
      cursor: pointer;
      color: $orange-color ;
    }
  }

  .wrapper {
    // max-width: $max-wid;
    margin: 0em auto;
    width: auto;
    // border: 1px solid red;
  }

  @media only screen and (min-width: 900px) {
    $max-wid: 1220px;
    .wrapper {
      // max-width: $max-wid;
      margin: 0em auto;
      // border: 1px solid red;
    }
  }